@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

body {
    margin: 0;
    background: #121212; /* Темный фон */
    color: #e0e0e0; /* Светлый текст */
    font-family: "Roboto Condensed", sans-serif;
}

a {
    text-decoration: none;
    color: #64b5f6; /* Акцентный цвет */
}
a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #ffffff;
}
